<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <center>
        <h1>Customer Registration</h1>
        <table>
            <tr>
                <td>Customer Name: </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td><input type="radio" name="rd_gender">Male</td>
                <td><input type="radio" name="rd_gender">Female</td>
            </tr>
            <tr>
                <td>Address: </td>
                <td><textarea rows="5" cols="25"></textarea></td>
            </tr>
            <tr>
                <td>Telephone No: </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Hobbies: </td>
                <td>
                    <select>
                    <option value="D">Dancing</option>
                    <option value="R">Running</option>
                    <option value="W">Writing</option>
                    <option value="P">Painting</option>
                   </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </center>

</body>

</html>